@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body { no-repeat center center fixed; background-size:cover; box-sizing: content-box;}

.search {width: 500px;height: 40px;margin: 10px auto;background: #444;border-radius:  3px;border: 1px solid #fff;}

.search input {width: 370px;padding: 10px 5px;float: left;color: #ccc;border: 0;background: transparent;border-radius: 3px 0 0 3px;}

.search input:focus {outline: 0;background:transparent;}

.search button {position: relative;float: right;border: 0;padding: 0;cursor: pointer;height: 40px;width: 120px;color: #fff;background: transparent;border-left: 1px solid #fff;border-radius: 0 3px 3px 0; height: 38px;}

.search button:hover {background: #ff6600;color:#ffffff;}
.search button:active {box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);}
.container{
  margin-top: 70px;
}
/*.search button:focus {outline: 0;}*/

/*Resize the wrap to see the search bar change!*/

.likeabutton {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}
.likeabutton:active {
    border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.logo-button{
  margin:0px auto;
  width: 150px;
  button:focus {outline:none; !important; }

}

.add-resource{
  display: block;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.action {
  outline: none !important;
}
.action button{
    border-radius: 2px;
    background-color: #87bae1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    border: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    width: 60px;
    height: 32px;
    border: none;
}

label{
  font-family: sans-serif;
}

blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}
